[Desktop Entry]
Encoding=UTF-8
Name=Termoid-Transparent
Comment=Terminal in a plasmoid, but with a transparent background.
Type=Service
Icon=utilities-terminal

X-KDE-PluginInfo-Author=Bhaskar Divya
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=com.k4rakara.kde.termoid-transparent
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=https://github.com/K4rakara/termoid-transparent
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=qtermwidget-transparent
X-KDE-PluginInfo-License=GPL v2+
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-KdeStoreId=1169451